<html>
<head>
<title>Edit customer
</title>
<body bgcolor=white>
<& menu &>
<H2>Edit customer</h2>

% if($dataok) {
<p> Customer data was saved
%} elsif($name && $email) {
<p>Email was not correct , please try again
%}
<form method=post action=edit_customer.html>
<% $Admaster::cgi->hidden(-name=>'id',-value=>$id) %>
<table>
<tr valing=top>
<td align=right>
<b>Customer name:</b>
</td>
<td>
<% $Admaster::cgi->textfield(-name=>'name', -size=>50, -value=>$customer[1]) %>
</td>
<tr>
<td align=right>
<b>Customer email:</b>
</td>
<td>
<% $Admaster::cgi->textfield(-name=>'email', -size=>50, -value=>$customer[2]) %>
</td>
<tr>
<td>
</td>
<td>
<% $Admaster::cgi->submit(-value=>'Absenden') %>
<% $Admaster::cgi->reset(-value=>'Zurücksetzen') %>
</td>
</table>
</form>
<hr>
<H2>Registered slots</h2>

</body>

</html>

<%init>

my $dataok= undef;

if($name && $email) {
if($m->comp('/utils/is-valid-email.fn',email=>$email)) {
$Admaster::db->do("update customer set name='$name' , email='$email' where id=$id") || die $DBI::errstr;
$dataok = 1;
}

}

my @customer = $Admaster::ad->get_customer($id);

my $slots = $Admaster::db->selectall_arrayref("select * from slots where cust_id=$id order by id");
</%init>


<%args>
$id
$name=>undef
$email=>undef
</%args>