<& ../layout , top=>1 , title=>$gamedata->{title} . ' high scores', linkprefix=>$linkprefix , path=>$gamedata->{path}&>


<& ../start_global , linkprefix=>$linkprefix &>

<& ../../highscore_list ,
scores=>$gamedata->{scores},
fieldnames=>$gamedata->{fieldnames},
fields=>$gamedata->{fields}, 
linkprefix=>$linkprefix, 
pagename=>'highscore.html',
from=>$from,
to=>$to
&>

<& ../end_global , linkprefix=>$linkprefix &>


<& ../layout, bottom=>1 , linkprefix=>$linkprefix ,path=>$gamedata->{path}&>


<%args>
$linkprefix=>'../'
$gamedata
$from=>1
$to=>20
</%args>