<& layout , top=>1 , title=>'yook news',main=>1 , show_email=>1 &>
%if(!$status) {
<&  ../.utils/headline , title=>$n->headline , &>
<p><% $n->contens %><br>
<small><%  POSIX::strftime "%H:%M  %d/%m/%y" , localtime($n->timestamp) %></small>
%} else {
<&  ../.utils/headline , title=>'nicht gefunden' , &>
<p>Diese meldung konnte leider nicht gefunden werden
%}
<& layout , bottom=>1 , main=>1 &>

<%init>
my $n = $Gamesite::news_de;
eval {
$n->restore($id) if $id;
};
my $status = $@;

</%init>

<%args>
$id=>undef
</%args>